.title-name {
  font-size: 1.3rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: capitalize;
}

.name,
.sign {
  margin-top: 0;
}

.main-title {
  text-align: start;
  margin: 1.6rem 0 0.5rem 0;
}
a {
  text-decoration: none;
  width: fit-content;
  display: flex;
  margin: 0.5rem;
}
